.container-formulario-tarea {
    width: 80%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-tarea {
    width: 95%;
    min-height: 50px;
    outline: none;
    border: 1px solid black;
    padding-left: 3%;

}

.input-tarea::placeholder {
    color: rgb(92, 92, 92);
    white-space: wrap;
}

.boton-formulario-tarea {
    min-height: 50px;
    outline: none;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}