.container-componente-formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-componente-tarea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-lista-tareas,
.container-lista-tareas * {
    border-radius: 20px;
}

.container-lista-tareas {
    background-color: #528CC6;
    width: 70%;
    min-height: 16vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

/* s */